/MainCategoria.class
/MainCliente.class
/MainPedidos.class
/MainProduto.class
/ComparetorMaisBaratoCaro.class
/MainLeitorPedidoCsv.class
/MainAtualizacaoCategoria.class
/MainComexWS.class
/MainInsercaoCategoria.class
/MainListagemCategoria.class
/MainRemocaoCategoria.class
/MainTestaConexao.class
/RemocaoCategoria.class
/TestaInsertCategoria.class
